.App {
  text-align: center;
}

.navMeni {
  display: flex;
  background-color: #22577A;
  height: 70px;
  margin-top: 0px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}

.pocetna {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* cela visina browser-a */
  align-items: center;
  background: linear-gradient(45deg, rgba(58, 90, 64, 1) 0%, rgba(218, 215, 205, 1) 50%);
}

.teloPocetne{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.formaPrijava {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 15px;
}

.kontejner {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.kartica {
  display: flex;
  background-color: #57CC99;
  min-width: 300px;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 50%;
}

.kartica>div {
  display: flex;
  gap: 20px;
}

.kartica>div>label {
  min-width: 150px;
}

.kartica>div>label:first-child {
  text-align: right;
}

.kartica>div>label:last-child {
  text-align: left;
}